
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
	overflow:hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font: 14px/1.5em "Microsoft Yahei",Arial,sans-serif;
    min-height: 740px;
    background: #F0F0F0;

}

b, strong { font-weight: bold }
i, em { font-style: italic}

a {
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition:0.5s;
    transition: 0.5s;
	
}

a:hover {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}


#slide{
	z-index:0;
	-webkit-transition: opacity 1s ease-in-out .5s;
    -moz-transition: opacity 1s ease-in-out .5s;
    -o-transition: opacity 1s ease-in-out .5s;
    transition: opacity 1s ease-in-out .5s;
	
	opacity:0;
}
#slide.fadeIn{
	opacity:1;
}
#myCanvas {
	z-index:100;
	
	position: fixed;
}

#slide .slides {
	position: absolute;
	width: 800px;
	height: 600px;
	
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -300px;
	-webkit-transition: -webkit-perspective .4s ease;
	-moz-transition: -moz-perspective .4s ease;
	-ms-transition: -ms-perspective .4s ease;
	-o-transition: -o-perspective .4s ease;
	transition: perspective .4s ease;
	
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	-ms-perspective: 600px;
	-o-perspective: 600px;
	perspective: 600px;

 	-webkit-perspective-origin: 50% 25%;
 	-moz-perspective-origin: 50% 25%;
 	-ms-perspective-origin: 50% 25%;
	-o-perspective-origin: 50% 25%;
 	perspective-origin: 50% 25%;
}

#slide .slides > section{
	position: absolute;
    z-index: 10;
	padding: 40px 60px;
	width:680px;
	height:520px;
}
section[data-transition="normal"]{
	display: none;
	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    -webkit-transition: all .8s cubic-bezier(0.260, 0.860, 0.440, 0.985);
    -moz-transition: all .8s cubic-bezier(0.260, 0.860, 0.440, 0.985);
    -ms-transition: all .8s cubic-bezier(0.260, 0.860, 0.440, 0.985);
    -o-transition: all .8s cubic-bezier(0.260, 0.860, 0.440, 0.985);
    transition: all .8s cubic-bezier(0.260, 0.860, 0.440, 0.985);
}
#slide .slides > .slide{
    
    border-radius: 5px;
    /*background-color: #eee;*/
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .2);
    color: #111;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
    word-break:break-all;
	background: rgba(128, 128, 128, 0.25);
}
#slide .slides > section[data-transition="normal"].past {
	-webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
	-ms-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
	-o-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
}

#slide .slides > section[data-transition="normal"].future {
	-webkit-transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
	-ms-transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
	-o-transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
}

#slide .slides > section.present {
    display: block;
    opacity: 1;
    z-index: 11;
}
#slide .slides > section.future,
#slide .slides > section.past {
    display: block;
    opacity: 0;
}

section[data-transition="metro"] {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: all 0.3s ease-out;  /* FF4+ */
    -ms-transition: all 0.3s ease-out;  /* IE10 */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    transition: all 0.3s ease-out;
	-webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}

section[data-transition="metro"].future {
    -webkit-transform: translate3d(100%, 0, 0) rotateY(-30deg);
    -moz-transform: translate3d(100%, 0, 0) rotateY(-30deg);
    -ms-transform: translate3d(100%, 0, 0) rotateY(-30deg);
    transform: translate3d(100%, 0, 0) rotateY(-30deg);
}
section[data-transition="metro"].future {
    -webkit-transform: translate3d(100%, 0, 0) rotateY(30deg);
    -moz-transform: translate3d(100%, 0, 0) rotateY(30deg);
    -ms-transform: translate3d(100%, 0, 0) rotateY(30deg);
    transform: translate3d(100%, 0, 0) rotateY(30deg);
}

section[data-transition="zoomout"],
section[data-transition="zoomin"] {
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: all 0.3s ease-out;  /* FF4+ */
    -ms-transition: all 0.3s ease-out;  /* IE10 */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    transition: all 0.3s ease-out;
}


section[data-transition="zoomout"].past,
section[data-transition="zoomin"].future {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

section[data-transition="zoomout"].future,
section[data-transition="zoomin"].past {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
section[data-transition="rotate12"] {
    -webkit-transform-origin: 20% 80%;
    -moz-transform-origin: 20% 80%;
    -ms-transform-origin: 20% 80%;
    transform-origin: 20% 80%;
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: all 0.3s ease-out;  /* FF4+ */
    -ms-transition: all 0.3s ease-out;  /* IE10 */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    transition: all 0.3s ease-out;
}
section[data-transition="rotate12"].future,
section[data-transition="rotate12"].past {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

/******WYQ******/

h1.header{
	font-size:150%;
}
a{
	color: #26A2DA;
}

.step section.title{
	margin:150px auto;
	text-align:center;
	line-height: 180%;
	text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
}
.step section.title h1{
	font-size:45px;
	line-height:2em;
}
#cover .title h2{
	font-size:32px;
	line-height:2em;
}
#cover .title h3{
	font-size:20px;
	line-height:2em;
}
.slide h1,.slide h2{
	text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
	line-height:150%;
}
.slide h1{
	font-size:150%;
}
.slide h2{
	font-size:120%;
}
.slide li{
	list-style:square inside;
	line-height:150%;
	padding-left: 1em;
	font-size:20px;
}
.slide p{
	line-height:200%;
	font-size:85%;
}
.slide footer{
	font-size:80%;
	position: absolute;
	bottom: 50px;
	right: 60px;
}
.slide .center{
	text-align:center;
	margin:60px auto;
}


@font-face{
    font-family: iconic;
    src: url(../font/iconic_stroke-webfont.eot);
}
@font-face {
    font-family: iconic;
    src: url(../font/iconic_stroke-webfont.ttf);
}
[data-build]{
  opacity: 0;
}
[data-build].visible {
	opacity: 1;
	-webkit-transition: all .5s ease-in-out .2s; 
	-moz-transition: all .5s ease-in-out .2s;
	-o-transition: all .5s ease-in-out .2s;
	-ms-transition: all .5s ease-in-out .2s;
	transition: all .5s ease-in-out .2s;
}


menu.controls{
	position: fixed;
	width: 85px;
	height: 28px;
	right: 10px;
	bottom: 5px;
	background:#000;
	opacity:.1;
	-webkit-transition: opacity .5s ease-in-out .2s;
	-moz-transition: opacity .5s ease-in-out .2s; 
	-o-transition: opacity .5s ease-in-out .2s; 
	-ms-transition: opacity .5s ease-in-out .2s; 
	transition: opacity .5s ease-in-out .2s;  
	padding:1px 3px;
	z-index:101;
}
menu.controls:hover{
	opacity:.5;
}

span.tool {
	font-family: iconic;
	width: 26px;
	height: 24px;
	line-height: .5;
	color: #fff;
	font-size: 20px;
	background: none;
	border: 1px solid rgba(0,0,0,0);
	float: left;
	text-align: center;
	line-height:.5;
	cursor:pointer;
}
.tool:hover {
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: inset 0 0 1px #fff, inset 0 12px 0 rgba(255,255,255,.15);
	text-decoration: none;
}
#slide .progress {
	position: fixed;
	height: 5px;
	width: 100%;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.2);
}
#loading {
    width: 100%;
    margin: 100px auto;
    text-align: center;
	top:50%;
	height:200px;
    margin-top:-100px;
	position:absolute;
	-webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
#loading.fadeOut{
	opacity:0;
}
#loading .progress{
	height:6px;
	width:100%;
	background: rgba(100,100,100,0.3);
	
}
#loading h1{
	font-size:32px;
	line-height:1.5em;
	margin-bottom:0.5em;
	text-shadow: 2px 2px 2px rgba(100,100,100,0.9);
}
.progress span {
	display: block;
	background: #26A2DA;
	height: 100%;
	width: 0px;
    border-radius:1px 1px 0 0;
	border:none;
	background:-moz-linear-gradient(left,#96D6B6 0,#006CA7 100%);
	background:-webkit-gradient(linear,left top,right top,color-stop(0%,#96D6B6),color-stop(100%,#2271CD));
	background:-webkit-linear-gradient(left,#96D6B6 0,#2271CD 100%);
	background:-o-linear-gradient(left,#96D6B6 0,#006CA7 100%);
	background:-ms-linear-gradient(left,#96D6B6 0,#006CA7 100%);
	background:linear-gradient(left,#96D6B6 0,#006CA7 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#96D6B6',endColorstr='#006CA7',GradientType=1);
	
	-webkit-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
	-moz-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
	-ms-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
	-o-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
	transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}
.slideContent{display:none;}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
    border-radius: 4px;
    background: rgba(0,128,128,0.25);
}
