@charset "UTF-8";
@import url(http://fonts.useso.com/css?family=Source%20Code%20Pro:light,regular,semibold);
@import "base";
@import "compass/css3/columns";
@import "compass/css3/user-interface";
@import "vars";
@import "mixins";
@import "tags";
@import "buttons";
@import "utils";

.draw-board {
    position: fixed;
    cursor: url(pen.cur), default;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.slideTip {
    display: none;
    padding: 10px 0;
    width: 300px;
    background: rgba(0, 0, 0, .3);
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    color: #FFF;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -150px;
    text-align: center;
}
.progress {
    position: fixed;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #000;
}
.progress span {
    display: block;
    background: #2187E7;
    height: 100%;
    width: 0;
    border: none;
    @include border-radius(0 2px 2px 0);
    @include transition(width 0.8s cubic-bezier(0.260, 0.860, 0.440, 0.985));
}
.slides {
    width: 100%;
    height: 100%;
    text-align: center;
}
slides > slide .slide-wrapper {
    max-width: $slide-width;
    // height: $slide-height;
    text-align: center;
    margin: 0 auto;
    position: relative;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-content(center);
    height: 100%;

    > hgroup + article {
        margin-top: $article-content-top-padding;

        &.flexbox {
            &.vcenter, &.vleft, &.vright {
                height: 80%;
            }
        }
        p>img:only-child {
            margin-bottom: 1em;
        }
    }
    > article:only-child {
        h2 {
            font-weight: normal;
        }
        > pre {
            overflow-y: auto;
            max-height: 98%;
        }
        > iframe {
            height: 98%;
        }
    }
    img {
        @include justify-content(space-around);
        max-width: 100%;
        max-height: $slide-height - $slide-top-bottom-padding*2;
    }
    blockquote {
        font-size: 28px;
        line-height: 1.5em;
        padding: 5px 5px 5px 20px;
        background-color: $quote-bg-color;
        border-left: 5px solid $quote-border-color;
        color: $quote-color;
        text-align: left;
        min-width: 500px;
        display: inline-block;

        small {
            display: block;
            line-height: 20px;
            color: $quote-small-color;

            &::before {
                content: '\2014 \00A0';
            }
        }
        p {
            margin-bottom: 0 !important;
            font-size: 17.5px;
            font-weight: 300;
            line-height: 1.25;
        }
    }
    blockquote.pull-right {
        padding-left: 15px;
        border-right: 5px solid #3E87CF;
        text-align: right;
        padding-right: 20px;
        border-left: none;

        small {
            &::before {
                content: '';
            }
            &::after {
                content: '\00A0 \2014';
            }
        }
    }

    b, strong {
        font-weight: bold;
        margin: 0 5px;
        @include text-shadow(2px 3px 1px rgba(0, 0, 0, .8));
    }
    em {
        margin: 0 5px;
        font-weight: bold;
        @include text-shadow(-1px -2px 1px rgba(0, 0, 0, .8));
    }
    pre {
        b, strong {
            margin: 0;
            @include text-shadow(none);
        }
    }
}



slides > slide {
    display: none;
    font-size: 26px;
    color: $font-color;
    background-color: $slide-bg-color;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    padding: $slide-top-bottom-padding $slide-left-right-padding;
    // @include border-radius($slide-border-radius);
    @include transition(all 0.6s ease-in-out);
    @include prefixed(transform-style, preserve-3d);
    @include transform(translateZ(0));

    &.far-past {
        display: none;
    }
    &.past {
        display: block;
        opacity: 0;
    }
    &.current {
        display: block;
        opacity: 1;
        z-index: 99;

        .auto-fadein {
            opacity: 1;
        }
        .gdbar {
            @include background-size(100% 100%);
        }
    }
    &.next {
        display: block;
        opacity: 0;
    }
    &.far-next {
        display: none;
    }
    &.dark {
        background: $gray-4 !important;
    }
    &:not(.nobackground) {
    }
    &.title-slide {
        &:after {
            content: '';
            position: absolute;
            bottom: $slide-top-bottom-padding;
            right: $slide-top-bottom-padding;
            width: 100%;
            height: 60px;
        }
    }
    &.backdrop {
        z-index: -10;
        display: block !important;
        @include backdrop;

        &:after, &:before {
            display: none;
            // Prevent double set of slide nums and footer icons.
        }
    }
    &:nth-child(6n+1) {
        background-color: $slide-bg-color1;
    }
    &:nth-child(6n+2) {
        background-color: $slide-bg-color2;
    }
    &:nth-child(6n+3) {
        background-color: $slide-bg-color3;
    }
    &:nth-child(6n+4) {
        background-color: $slide-bg-color4;
    }
    &:nth-child(6n+5) {
        background-color: $slide-bg-color5;
    }
    .note {
        color: $note-color;

        h1, h2, h3, h4 {
            color: $note-color;
            @include text-shadow(none);
        }
    }
}
// Code highlighting only effects the current slide.
.highlight-code slide.current, slide.current .hljs {
    b, strong {
        @include shake();
        @include prefixed(animation-duration, 1.5s);
    }
    em {
        @include flash();
        @include prefixed(animation-duration, 1.5s);
    }
}
.highlight-code slide.current .hljs {
    b, strong {
        @include flash();
        @include prefixed(animation-duration, 1.5s);
    }
    em {
        @include shake();
        @include prefixed(animation-duration, 1.5s);
    }
}
@import "widescreen";
@import "common";

slide.fill {
    background-repeat: no-repeat;
    @include border-radius($slide-border-radius);
    @include background-size(cover);
}

/* Size variants */
article.smaller {
    p, ul {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0;
    }
    table {
        td, th {
            font-size: 14px;
        }
    }
    pre {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0;
    }
    q {
        font-size: 40px;
        line-height: 48px;

        &:before, &:after {
            font-size: 60px;
        }
    }
}
@import "build";
@import "note";
@import "controller";

.source {
    font-size: 14px;
    color: $gray-2;
    position: absolute;
    line-height: 2em;
    bottom: $slide-top-bottom-padding + 30px;
    left: $slide-left-right-padding;
}
.centered {
    text-align: center;
}
.reflect {
    -webkit-box-reflect: below 3px -webkit-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
    -moz-box-reflect: below 3px -moz-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
    -o-box-reflect: below 3px -o-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
    -ms-box-reflect: below 3px -ms-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
    box-reflect: below 3px linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
}
.flexbox {
    @include display-flex;
    @include flex-flow(row);
}
.flexbox.vcenter {
    @include flex-center-center;
    height: 100%;
    width: 100%;
}
.flexbox.vleft {
    @include flex-left-center;
    height: 100%;
    width: 100%;
    text-align: left;
}
.flexbox.vright {
    @include flex-right-center;
    height: 100%;
    width: 100%;
}
.auto-fadein {
    @include transition(opacity 0.6s ease-in 1s);
    opacity: 0;
}

/* Clickable/tappable areas */
.slide-area {
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    width: $slide-tap-area-width;
    height: $slide-height;
    left: 50%;
    top: 50%;
    cursor: pointer;
    margin-top: -$slide-height / 2;
}
#prev-slide-area {
    margin-left: -$slide-width-widescreen / 2;
}
#next-slide-area {
    margin-left: $slide-width / 2;
}
.logoslide {
    img {
        width: 383px;
        height: 92px;
    }
}
.segue {
    padding: $slide-left-right-padding $slide-left-right-padding * 2;

    h2 {
        color: $gray-1;
        font-size: 60px;
    }
    h3 {
        color: $gray-1;
        line-height: 2.8;
    }
    hgroup {
        position: absolute;
        bottom: 225px;
    }
}
.thank-you-slide {
    background: $brand-blue !important;
    color: $font-color;

    h2 {
        font-size: 60px;
        color: inherit;
    }
    h3 {
        font-size: 52px;
        color: inherit;
        text-align: right;
    }
    article > p {
        margin-top: 2em;
        font-size: 20pt;
    }
    > p {
        position: absolute;
        bottom: $slide-top-bottom-padding * 2;
        font-size: 24pt;
        line-height: 1.3em;
    }
}
aside.gdbar {
    height: 97px;
    width: 215px;
    position: absolute;
    left: -1px;
    top: 125px;
    @include border-radius(0 10px 10px 0);
    @include background(linear-gradient(left, $gray-1, $gray-1) no-repeat);
    @include background-size(0% 100%);
    @include transition(all 0.5s ease-out 0.5s);

    &.right {
        right: 0;
        left: -moz-initial;
        left: initial;
        top: ($slide-height / 2) - 96;

        /* 96 is height of gray icon bar */
        @include transform(rotateZ(180deg));

        img {
            @include transform(rotateZ(180deg));
        }
    }
    &.bottom {
        top: -moz-initial;
        top: initial;
        bottom: $slide-left-right-padding;
    }
    img {
        width: 85px;
        height: 85px;
        position: absolute;
        right: 0;
        margin: 8px 15px;
    }
}
.title-slide {
    hgroup {
        bottom: 100px;

        h1 {
            font-size: 65px;
            line-height: 1.4;
            letter-spacing: -3px;
            color: $gray-4;
        }
        h2 {
            font-size: 34px;
            color: $gray-2;
            font-weight: inherit;
        }
        p {
            font-size: 20px;
            color: $gray-3;
            line-height: 1.3;
            margin-top: 2em;
        }
    }
}
.quote {
    color: $gray-1;

    .author {
        font-size: 24px;
        position: absolute;
        bottom: 80px;
        line-height: 1.4;
    }
}
.overview {
    &.popup {
        .note {
            display: none !important;
        }
    }
    slides {
        slide {
            &.backdrop {
                display: none !important;
            }
            display: block;
            cursor: pointer;
            opacity: 0.5;
            pointer-events: auto !important;
            width: 1100px;
            // @include backdrop();

            &.far-past, &.past, &.next, &.far-next, &.far-past {
                opacity: 0.5 !important;
                display: block !important;
            }
            &.current {
                opacity: 1 !important;
            }
        }
    }
    .slide-area {
        display: none;
    }
}
@import "animation";
