@import 'compass/css3';
@import "compass/css3/flexbox";
* {
    -webkit-print-color-adjust: exact;
}

body {
    margin: 0 auto !important;
    border: 0;
    padding: 0;
    float: none !important;
    overflow: visible;
}

html {
    width: 100%;
    height: 100%;
    overflow: visible;
}
slides {
    > slide {
        display: block !important;
        position: relative;
        @include transform(none !important);
        width: 100%;
        height: 100%;
        page-break-after:always;
        top: auto !important;
        left: auto !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
        opacity: 1 !important;

        &.far-past,
        &.past,
        &.next,
        &.far-next,
        &.far-past,
        &.current {
            opacity: 1 !important;
            display: block !important;
        }

        .build {
            > * {
                @include transition(none);
            }

            .to-build,
            .build-fade {
                opacity: 1;
            }
        }

        .auto-fadein {
            opacity: 1 !important;
        }

        &.backdrop {
            display: none !important;
        }

        table.rows {
            border-right: 0;
        }
    }

    > slide[hidden] {
        display: none !important;
    }
}

.slide-area {
    display: none;
}


pre, code {
    font-family: 'Source Code Pro',monospace !important;
}

slides{
    > slide {
        -webkit-clip-path: none !important;
        opacity: 1 !important;
        visibility: visible !important;
        padding: 0;
    }
    // > slide.hasnote{
    //     @include flex-flow(row !important);
    //     display: -webkit-flex !important;
    //     display: flex !important;
    //     @include justify-content(space-around);

    //     .note{
    //         opacity: 1 !important;
    //         display: block !important;
    //         background: transparent;
    //         //
    //         font-size: 12px !important;
    //         color: black;
    //         padding:0;
    //         position: static !important;
    //         @include flex(2);
    //         @include order(2 !important);
    //         &::before{
    //             content:'备注';
    //             position: absolute;
    //             top: 0.5em;
    //             font-size: 20px;
    //         }
    //         section{

    //             display: block;
    //             width: 100%;
    //             height: 100%;
    //             padding: 3em 0 1em;
    //             @include border-radius(0);
    //             h1,h2,h3,h4{
    //                 font-size: 12px;
    //             }
    //         }
    //     }
    //     .slide-wrapper{
    //         @include flex(8);
    //         @include order(1 !important);
    //     }

    // }
    > slide .slide-wrapper,
    > slide.past .slide-wrapper,
    > slide.far-past .slide-wrapper,
    > slide.far-next .slide-wrapper,
    > slide.next .slide-wrapper{
        opacity: 1 !important;
        visibility: visible !important;
        @include display-flex;
        @include justify-content(center);
        @include align-content(center);
        position: static;
        width: 1100px !important;
        // color: white !important;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto 10pt !important;

        overflow: visible;
        @include perspective(none !important);
        @include perspective-origin(50% 50% !important);
        @include border-radius(0 !important);
        @include transform(none !important);

        .build-fade,.to-buid,.building{
            opacity: 1 !important;
            visibility: visible !important;
            @include transform(none !important);
        }

        *{
            opacity: 1 !important;
            visibility: visible !important;
            @include transform(none !important);
            // color: white !important;
        }

        .note{
            // display: none !important;
        }
    }
}

#_buttons,#drawBoard,.progress, #tip{
    display: none !important;
}
