@import 'compass/css3';
@import "compass/css3/box";
@mixin flexbox {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-box !important;
  display: -o-box !important;
  display: box !important;
}
* {
    -webkit-print-color-adjust: exact;
}

body {
    margin: 0 auto !important;
    border: 0;
    padding: 0;
    float: none !important;
    overflow: visible;
}

html {
    width: 100%;
    height: 100%;
    overflow: visible;
}
slides{
    > slide {
        -webkit-clip-path: none !important;
        opacity: 1 !important;
        visibility: visible !important;
    }
    > slide .slide-wrapper{
        opacity: 1 !important;
        visibility: visible !important;
        @include flexbox;
        @include box-orient(vertical);
        @include box-pack(center);
        position: static;
        width: 1100px !important;
        // color: white !important;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto 10pt !important;

        overflow: visible;
        @include perspective(none !important);
        @include perspective-origin(50% 50% !important);
        @include border-radius(0 !important);
        @include transform(none !important);

        *{
            opacity: 1 !important;
            visibility: visible !important;
            @include transform(none !important);

            // color: white !important;
        }
        .note{
            display: none !important;
        }
    }
}

#_buttons,#drawBoard,.progress, #tip{
    display: none !important;
}
