@import "compass/css3";

$gray-1: #e6e6e6;
$gray-2: #a9a9a9;
$gray-3: #797979;
$gray-4: #515151;
::selection {
    color: white;
    background-color:#d33682;
    @include text-shadow(none);
}
a {
    color: #FA5B04;
    background-color: transparent;
    border-bottom: 0;
    &:hover {
        color: #FE7429;
        background-color: transparent;
    }
}
h1, h2, h3 {
    color: #fff;
    @include text-shadow(1px 2px 0px #232323,2px 4px 0px rgba(255, 255, 255, 0.1));
    letter-spacing: 4px;
    font-weight: bolder;
}

h1 {
    @include text-shadow(1px 2px 0px #232323,3px 5px 0px rgba(255, 255, 255, .1));
}

button {
    @include background(linear-gradient(#F9F9F9 40%, #E3E3E3 70%));
    border: 1px solid $gray-2;
    @include text-shadow(1px 1px #fff);
}
button:not(:disabled):hover {
    border-color: $gray-4;
}

button:not(:disabled):active {
    @include background(linear-gradient(#E3E3E3 40%, #F9F9F9 70%));
}
table {
    width: 100%;
    color: #000;
    border-bottom: 0 none;
    border-collapse: collapse;
    background-color: white;
    @include box-shadow(0 none);

    thead th{
        font-weight: bolder;
        background-color: transparent;
        border-bottom: 1px solid #111;
        vertical-align:bottom;
    }
    tbody tr td{
        vertical-align: top;
        border-bottom: 1px #bfbfbf solid;
    }
    tr{
        background-color: transparent;
    }
    tr:nth-child(even) {
        background-color: transparent;
    }
    tbody tr:nth-child(odd){
        background-color:#eee;
    }


    td.highlight {
        color: #0377C0;
        @include text-shadow(1px 1px 1px #aaa);
        font-weight: normal;
        background-color: transparent !important;
    }

    &.rows {
        border-right: 1px solid $gray-3;
    }
}
slides > slide{
    -webkit-font-smoothing: subpixel-antialiased;
    color: #f8f7f7;
    letter-spacing: 2px;
    background-color: #232323;
    &:nth-child(6n+1),
    &:nth-child(6n+2),
    &:nth-child(6n+3),
    &:nth-child(6n+4),
    &:nth-child(6n+5){
        background-color: #232323;
    }
    .slide-wrapper{
        strong{
            @include text-shadow(none);
            font-weight: bolder;
            color:#00CED1
        }
        blockquote {
            &.pull-right{
                border-right:0 none;
                padding: 5px 28px 5px 5px;
                ::before{
                    font:normal normal normal 14px/1 FontAwesome;
                    content:"\f10e";
                    right: 6px;
                    position: absolute;
                    top: 6px;
                }
                small::after{
                    position: absolute;
                    content: '';
                }
            }
            ::before{
                font:normal normal normal 14px/1 FontAwesome;
                content:"\f10d";
                left: 6px;
                position: absolute;
                top: 6px;
            }
            position: relative;
            border-left: 0 none;
            color: #000;
            padding: 5px 5px 5px 28px;
            @include text-shadow(none);
            p {
                font-size: 22px;
                line-height: 1.7em;
            }
            small{
                color: #000;
                position: relative;
                padding-left: 24px;
                &::before{
                    position: absolute;
                    top: 3px;
                    content: '\2015 \00A0';
                }
            }
        }
    }
}

.progress span{
    background: #2187E7;
}
