#webslides {
  opacity: 0;
}

.ws-ready #webslides {
  opacity: 1;
}

i.fa {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

[class*="fa-"].large {
  font-size: 8rem;
}

.embed .echarts {
  min-height: 20vw;
  >div {
    margin: 0 auto;
  }
}
