#webslides {
  opacity: 0;
}

.ws-ready #webslides {
  opacity: 1;
}

i.fa {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

[class*="fa-"].large {
  font-size: 8rem;
}

.embed .echarts {
  min-height: 20vw;
  >div {
    margin: 0 auto;
  }
}

.animated.delay-300 {
  animation-delay: .3s;
}

.animated.delay-400 {
  animation-delay: .4s;
}

.animated.delay-500 {
  animation-delay: .5s;
}

.animated.delay-600 {
  animation-delay: .6s;
}

.animated.delay-700 {
  animation-delay: .7s;
}

.animated.delay-800 {
  animation-delay: .8s;
}

.animated.delay-900 {
  animation-delay: .9s;
}

.animated.delay-1100 {
  animation-delay: 1.1s;
}

.animated.delay-1200 {
  animation-delay: 1.2s;
}

.animated.delay-1300 {
  animation-delay: 1.3s;
}

.animated.delay-1400 {
  animation-delay: 1.4s;
}

.animated.delay-1500 {
  animation-delay: 1.5s;
}

.animated.delay-1600 {
  animation-delay: 1.6s;
}

.animated.delay-1700 {
  animation-delay: 1.7s;
}

.animated.delay-1800 {
  animation-delay: 1.8s;
}

.animated.delay-2400 {
  animation-delay: 2.4s;
}

.animated.delay-2500 {
  animation-delay: 2.5s;
}
