@charset "UTF-8";
/* line 17, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 * Base SlideDeck Styles
 */
/* line 50, ../scss/_base.scss */
html {
  height: 100%;
  overflow: hidden;
}

/* line 55, ../scss/_base.scss */
body {
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 100%;
  min-height: 740px;
  width: 100%;
  overflow: hidden;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -webkit-transition: opacity 800ms ease-in;
  -webkit-transition-delay: 100ms;
  -moz-transition: opacity 800ms ease-in 100ms;
  -o-transition: opacity 800ms ease-in 100ms;
  transition: opacity 800ms ease-in 100ms;
}
/* line 71, ../scss/_base.scss */
body.loaded {
  opacity: 1 !important;
}

/* line 76, ../scss/_base.scss */
input, button {
  vertical-align: middle;
}

/* line 80, ../scss/_base.scss */
slides > slide[hidden] {
  display: none !important;
}

/* line 84, ../scss/_base.scss */
slides {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: opacity 800ms ease-in;
  -webkit-transition-delay: 100ms;
  -moz-transition: opacity 800ms ease-in 100ms;
  -o-transition: opacity 800ms ease-in 100ms;
  transition: opacity 800ms ease-in 100ms;
}

/* line 96, ../scss/_base.scss */
slides > slide {
  display: block;
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Slide styles */
/* line 108, ../scss/_base.scss */
article.fill iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  z-index: -1;
}

/* line 123, ../scss/_base.scss */
slide.fill {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 128, ../scss/_base.scss */
slide.fill img {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Code Pro"), local("SourceCodePro-Regular"), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/mrl8jkM18OlOQN8JLgasDxM0YzuT7MdOe03otPbuUS0.woff) format("woff");
}

/**
 * Theme Styles
 */
/* line 66, ../scss/nodeppt.scss */
::selection {
  color: white;
  background-color: #ffd14d;
  text-shadow: none;
}

/* line 72, ../scss/nodeppt.scss */
::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}

/* line 77, ../scss/nodeppt.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  border: solid transparent;
  min-height: 28px;
  padding: 100px 0 0;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  -moz-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  border-width: 1px 1px 1px 6px;
}

/* line 86, ../scss/nodeppt.scss */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 89, ../scss/nodeppt.scss */
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

/* line 93, ../scss/nodeppt.scss */
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

/* line 98, ../scss/nodeppt.scss */
::-webkit-scrollbar-corner {
  background: transparent;
}

/* line 102, ../scss/nodeppt.scss */
body {
  background: black;
  font-family: 'YaHei Consolas Hybrid','Microsoft Yahei',Arial,Helvetica,sans-serif;
}

/* line 108, ../scss/nodeppt.scss */
.draw-board {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -450px;
  margin-top: -300px;
  cursor: url(pen.cur), default;
}

/* line 116, ../scss/nodeppt.scss */
.slideTip {
  display: none;
  padding: 10px 0;
  width: 300px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  color: #FFF;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -150px;
  text-align: center;
}

/* line 132, ../scss/nodeppt.scss */
.progress {
  position: fixed;
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #000;
}

/* line 141, ../scss/nodeppt.scss */
.progress span {
  display: block;
  background: #2187E7;
  height: 100%;
  width: 0;
  border: none;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -ms-border-radius: 0 2px 2px 0;
  -o-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -webkit-box-shadow: 0px 0px 5px 1px #4387fd;
  -moz-box-shadow: 0px 0px 5px 1px #4387fd;
  box-shadow: 0px 0px 5px 1px #4387fd;
  -webkit-transition: width 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/* line 152, ../scss/nodeppt.scss */
slides > slide {
  display: none;
  font-size: 26px;
  color: #797979;
  width: 900px;
  height: 600px;
  margin-left: -450px;
  margin-top: -300px;
  padding: 40px 60px;
  position: absolute;
  background: #FFF;
  top: 50%;
  left: 50%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/* line 177, ../scss/nodeppt.scss */
slides > slide.far-past {
  display: none;
}
/* line 184, ../scss/nodeppt.scss */
slides > slide.past {
  display: block;
  opacity: 0;
}
/* line 191, ../scss/nodeppt.scss */
slides > slide.current {
  display: block;
  opacity: 1;
}
/* line 197, ../scss/nodeppt.scss */
slides > slide.current .auto-fadein {
  opacity: 1;
}
/* line 201, ../scss/nodeppt.scss */
slides > slide.current .gdbar {
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
/* line 206, ../scss/nodeppt.scss */
slides > slide.next {
  display: block;
  opacity: 0;
}
/* line 212, ../scss/nodeppt.scss */
slides > slide.far-next {
  display: none;
}
/* line 216, ../scss/nodeppt.scss */
slides > slide.dark {
  background: #515151 !important;
}
/* line 225, ../scss/nodeppt.scss */
slides > slide.title-slide:after {
  content: '';
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 100%;
  height: 60px;
}
/* line 237, ../scss/nodeppt.scss */
slides > slide.backdrop {
  z-index: -10;
  display: block !important;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(85%, #ffffff), color-stop(100%, #e6e6e6));
  background: -webkit-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: -moz-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: -o-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background-color: white;
}
/* line 242, ../scss/nodeppt.scss */
slides > slide.backdrop:after, slides > slide.backdrop:before {
  display: none;
}
/* line 247, ../scss/nodeppt.scss */
slides > slide > hgroup + article {
  margin-top: 45px;
}
/* line 251, ../scss/nodeppt.scss */
slides > slide > hgroup + article.flexbox.vcenter, slides > slide > hgroup + article.flexbox.vleft, slides > slide > hgroup + article.flexbox.vright {
  height: 80%;
}
/* line 256, ../scss/nodeppt.scss */
slides > slide > hgroup + article p {
  margin-bottom: 1em;
  line-height: 1.5em;
}
/* line 260, ../scss/nodeppt.scss */
slides > slide > hgroup + article p > img:only-child {
  margin-bottom: -1em;
}
/* line 265, ../scss/nodeppt.scss */
slides > slide > article:only-child {
  height: 100%;
}
/* line 266, ../scss/nodeppt.scss */
slides > slide > article:only-child h2 {
  font-weight: normal;
}
/* line 270, ../scss/nodeppt.scss */
slides > slide > article:only-child > pre {
  overflow-y: auto;
  max-height: 98%;
}
/* line 275, ../scss/nodeppt.scss */
slides > slide > article:only-child > iframe {
  height: 98%;
}

/* line 281, ../scss/nodeppt.scss */
slides.layout-faux-widescreen > slide {
  padding: 40px 160px;
}

/* line 290, ../scss/nodeppt.scss */
slides.layout-widescreen .draw-board,
slides.layout-faux-widescreen .draw-board {
  margin-left: -550px;
}
/* line 294, ../scss/nodeppt.scss */
slides.layout-widescreen > slide,
slides.layout-faux-widescreen > slide {
  margin-left: -550px;
  width: 1100px;
}
/* line 299, ../scss/nodeppt.scss */
slides.layout-widescreen > slide.far-past,
slides.layout-faux-widescreen > slide.far-past {
  display: block;
  display: none;
  -webkit-transform: translate(-2260px);
  -moz-transform: translate(-2260px);
  -ms-transform: translate(-2260px);
  -o-transform: translate(-2260px);
  transform: translate(-2260px);
  -webkit-transform: translate3d(-2260px, 0, 0);
  -moz-transform: translate3d(-2260px, 0, 0);
  -ms-transform: translate3d(-2260px, 0, 0);
  -o-transform: translate3d(-2260px, 0, 0);
  transform: translate3d(-2260px, 0, 0);
}
/* line 306, ../scss/nodeppt.scss */
slides.layout-widescreen > slide.past,
slides.layout-faux-widescreen > slide.past {
  display: block;
  opacity: 0;
}
/* line 313, ../scss/nodeppt.scss */
slides.layout-widescreen > slide.current,
slides.layout-faux-widescreen > slide.current {
  display: block;
  opacity: 1;
}
/* line 320, ../scss/nodeppt.scss */
slides.layout-widescreen > slide.next,
slides.layout-faux-widescreen > slide.next {
  display: block;
  opacity: 0;
}
/* line 328, ../scss/nodeppt.scss */
slides.layout-widescreen > slide.far-next,
slides.layout-faux-widescreen > slide.far-next {
  display: block;
  display: none;
  -webkit-transform: translate(2260px);
  -moz-transform: translate(2260px);
  -ms-transform: translate(2260px);
  -o-transform: translate(2260px);
  transform: translate(2260px);
  -webkit-transform: translate3d(2260px, 0, 0);
  -moz-transform: translate3d(2260px, 0, 0);
  -ms-transform: translate3d(2260px, 0, 0);
  -o-transform: translate3d(2260px, 0, 0);
  transform: translate3d(2260px, 0, 0);
}
/* line 335, ../scss/nodeppt.scss */
slides.layout-widescreen #prev-slide-area,
slides.layout-faux-widescreen #prev-slide-area {
  margin-left: -650px;
}
/* line 339, ../scss/nodeppt.scss */
slides.layout-widescreen #next-slide-area,
slides.layout-faux-widescreen #next-slide-area {
  margin-left: 550px;
}

/* line 344, ../scss/nodeppt.scss */
b, strong {
  font-weight: 600;
}

/* line 348, ../scss/nodeppt.scss */
a {
  color: #2a7cdf;
  text-decoration: none;
  border-bottom: 1px solid rgba(42, 124, 223, 0.5);
}
/* line 353, ../scss/nodeppt.scss */
a:hover {
  color: black !important;
}

/* line 358, ../scss/nodeppt.scss */
h1, h2, h3 {
  font-weight: 600;
}

/* line 362, ../scss/nodeppt.scss */
h1 {
  font-size: 45px;
  line-height: 45px;
  letter-spacing: -2px;
  color: #515151;
  margin-bottom: 0.5em;
}

/* line 370, ../scss/nodeppt.scss */
h2 {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 2;
  color: #797979;
}

/* line 377, ../scss/nodeppt.scss */
h3 {
  font-size: 28px;
  letter-spacing: -1px;
  line-height: 1.5;
  font-weight: inherit;
  color: #797979;
}

/* line 384, ../scss/nodeppt.scss */
ul {
  margin-left: 1.2em;
  margin-bottom: 1em;
  position: relative;
}
/* line 389, ../scss/nodeppt.scss */
ul li {
  margin-bottom: 0.5em;
}
/* line 392, ../scss/nodeppt.scss */
ul li ul {
  margin-left: 2em;
  margin-bottom: 0;
}
/* line 396, ../scss/nodeppt.scss */
ul li ul li:before {
  content: '-';
  font-weight: 600;
}
/* line 403, ../scss/nodeppt.scss */
ul > li:before {
  content: '\00B7';
  margin-left: -1em;
  position: absolute;
  font-weight: 600;
}
/* line 410, ../scss/nodeppt.scss */
ul ul {
  margin-top: .5em;
}

/* line 417, ../scss/nodeppt.scss */
.highlight-code slide.current pre > * {
  opacity: 0.25;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}
/* line 421, ../scss/nodeppt.scss */
.highlight-code slide.current b, .highlight-code slide.current strong {
  opacity: 1;
}

/* line 426, ../scss/nodeppt.scss */
pre {
  font-family: 'Source Code Pro', 'Courier New', monospace;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -1px;
  margin-bottom: 20px;
  width: 106%;
  background-color: #e6e6e6;
  left: -60px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*overflow: hidden;*/
}
/* line 440, ../scss/nodeppt.scss */
pre[data-lang]:after {
  content: attr(data-lang);
  background-color: darkgrey;
  right: 0;
  top: 0;
  position: absolute;
  font-size: 16pt;
  color: white;
  padding: 2px 25px;
  text-transform: uppercase;
}

/* line 453, ../scss/nodeppt.scss */
pre[data-lang="go"] {
  color: #333;
}

/* line 457, ../scss/nodeppt.scss */
code {
  font-size: 95%;
  font-family: 'Source Code Pro', 'Courier New', monospace;
  color: black;
}

/* line 463, ../scss/nodeppt.scss */
iframe {
  width: 100%;
  height: 430px;
  background: white;
  border: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 471, ../scss/nodeppt.scss */
dt {
  font-weight: bold;
}

/* line 475, ../scss/nodeppt.scss */
button {
  display: inline-block;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #f9f9f9), color-stop(70%, #e3e3e3));
  background: -webkit-linear-gradient(#f9f9f9 40%, #e3e3e3 70%);
  background: -moz-linear-gradient(#f9f9f9 40%, #e3e3e3 70%);
  background: -o-linear-gradient(#f9f9f9 40%, #e3e3e3 70%);
  background: linear-gradient(#f9f9f9 40%, #e3e3e3 70%);
  border: 1px solid darkgrey;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px white;
  font-size: 10pt;
}

/* line 489, ../scss/nodeppt.scss */
button:not(:disabled):hover {
  border-color: #515151;
}

/* line 493, ../scss/nodeppt.scss */
button:not(:disabled):active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #e3e3e3), color-stop(70%, #f9f9f9));
  background: -webkit-linear-gradient(#e3e3e3 40%, #f9f9f9 70%);
  background: -moz-linear-gradient(#e3e3e3 40%, #f9f9f9 70%);
  background: -o-linear-gradient(#e3e3e3 40%, #f9f9f9 70%);
  background: linear-gradient(#e3e3e3 40%, #f9f9f9 70%);
}

/* line 497, ../scss/nodeppt.scss */
:disabled {
  color: darkgrey;
}

/* line 501, ../scss/nodeppt.scss */
.blue {
  color: #4387fd;
}

/* line 504, ../scss/nodeppt.scss */
.blue2 {
  color: #3c8ef3;
}

/* line 507, ../scss/nodeppt.scss */
.blue3 {
  color: #2a7cdf;
}

/* line 510, ../scss/nodeppt.scss */
.yellow {
  color: #ffd14d;
}

/* line 513, ../scss/nodeppt.scss */
.yellow2 {
  color: #f9cc46;
}

/* line 516, ../scss/nodeppt.scss */
.yellow3 {
  color: #f6c000;
}

/* line 519, ../scss/nodeppt.scss */
.green {
  color: #0da861;
}

/* line 522, ../scss/nodeppt.scss */
.green2 {
  color: #00a86d;
}

/* line 525, ../scss/nodeppt.scss */
.green3 {
  color: #009f5d;
}

/* line 528, ../scss/nodeppt.scss */
.red {
  color: #f44a3f;
}

/* line 531, ../scss/nodeppt.scss */
.red2 {
  color: #e0543e;
}

/* line 534, ../scss/nodeppt.scss */
.red3 {
  color: #d94d3a;
}

/* line 537, ../scss/nodeppt.scss */
.gray {
  color: #e6e6e6;
}

/* line 540, ../scss/nodeppt.scss */
.gray2 {
  color: darkgrey;
}

/* line 543, ../scss/nodeppt.scss */
.gray3 {
  color: #797979;
}

/* line 546, ../scss/nodeppt.scss */
.gray4 {
  color: #515151;
}

/* line 550, ../scss/nodeppt.scss */
.white {
  color: white !important;
}

/* line 553, ../scss/nodeppt.scss */
.black {
  color: black !important;
}

/* line 557, ../scss/nodeppt.scss */
.columns-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
}

/* line 561, ../scss/nodeppt.scss */
table {
  width: 100%;
  border-collapse: -moz-initial;
  border-collapse: initial;
  border-spacing: 2px;
  border-bottom: 1px solid #797979;
}
/* line 568, ../scss/nodeppt.scss */
table tr > td:first-child, table th {
  font-weight: 600;
  color: #515151;
}
/* line 573, ../scss/nodeppt.scss */
table tr:nth-child(even) {
  background-color: #e6e6e6;
}
/* line 577, ../scss/nodeppt.scss */
table th {
  color: white;
  font-size: 18px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #4387fd), color-stop(80%, #2a7cdf)) no-repeat;
  background: -webkit-linear-gradient(top, #4387fd 40%, #2a7cdf 80%) no-repeat;
  background: -moz-linear-gradient(top, #4387fd 40%, #2a7cdf 80%) no-repeat;
  background: -o-linear-gradient(top, #4387fd 40%, #2a7cdf 80%) no-repeat;
  background: linear-gradient(top, #4387fd 40%, #2a7cdf 80%) no-repeat;
}
/* line 583, ../scss/nodeppt.scss */
table td, table th {
  font-size: 18px;
  padding: 1em 0.5em;
}
/* line 588, ../scss/nodeppt.scss */
table td.highlight {
  color: #515151;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #ffd14d), color-stop(80%, #f6c000)) no-repeat;
  background: -webkit-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: -moz-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: -o-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
}
/* line 593, ../scss/nodeppt.scss */
table.rows {
  border-bottom: none;
  border-right: 1px solid #797979;
}

/* line 599, ../scss/nodeppt.scss */
q {
  font-size: 45px;
  line-height: 72px;
}
/* line 603, ../scss/nodeppt.scss */
q:before {
  content: ' ';
  position: absolute;
  margin-left: -0.5em;
}
/* line 608, ../scss/nodeppt.scss */
q:after {
  content: ' ';
  position: absolute;
  margin-left: 0.1em;
}

/* line 615, ../scss/nodeppt.scss */
slide.fill {
  background-repeat: no-repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Size variants */
/* line 624, ../scss/nodeppt.scss */
article.smaller p, article.smaller ul {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}
/* line 630, ../scss/nodeppt.scss */
article.smaller table td, article.smaller table th {
  font-size: 14px;
}
/* line 634, ../scss/nodeppt.scss */
article.smaller pre {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
}
/* line 639, ../scss/nodeppt.scss */
article.smaller q {
  font-size: 40px;
  line-height: 48px;
}
/* line 643, ../scss/nodeppt.scss */
article.smaller q:before, article.smaller q:after {
  font-size: 60px;
}

/* Builds */
/* line 652, ../scss/nodeppt.scss */
.build > * {
  -webkit-transition: opacity 0.5s ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.5s ease-in-out 0.2s;
  -o-transition: opacity 0.5s ease-in-out 0.2s;
  transition: opacity 0.5s ease-in-out 0.2s;
}
/* line 656, ../scss/nodeppt.scss */
.build .to-build {
  opacity: 0;
}

/* line 662, ../scss/nodeppt.scss */
.popup .next .build .to-build {
  opacity: 1;
}
/* line 666, ../scss/nodeppt.scss */
.popup .next .build .build-fade {
  opacity: 1;
}

/* line 673, ../scss/nodeppt.scss */
.note {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1em;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-box !important;
  display: -o-box !important;
  display: box !important;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateY(300px);
  -moz-transform: translateY(300px);
  -ms-transform: translateY(300px);
  -o-transform: translateY(300px);
  transform: translateY(300px);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 692, ../scss/nodeppt.scss */
.note > section {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #797979;
  -moz-box-shadow: 0 0 10px #797979;
  box-shadow: 0 0 10px #797979;
  width: 60%;
  padding: 2em;
}

/* line 709, ../scss/nodeppt.scss */
.with-notes.popup slides.layout-widescreen slide.next,
.with-notes.popup slides.layout-faux-widescreen slide.next {
  -webkit-transform: translate3d(690px, 80px, 0) scale(0.35);
  -moz-transform: translate3d(690px, 80px, 0) scale(0.35);
  -ms-transform: translate3d(690px, 80px, 0) scale(0.35);
  -o-transform: translate3d(690px, 80px, 0) scale(0.35);
  transform: translate3d(690px, 80px, 0) scale(0.35);
}
/* line 712, ../scss/nodeppt.scss */
.with-notes.popup slides.layout-widescreen slide .note,
.with-notes.popup slides.layout-faux-widescreen slide .note {
  -webkit-transform: translate3d(300px, 700px, 0) scale(1.5);
  -moz-transform: translate3d(300px, 700px, 0) scale(1.5);
  -ms-transform: translate3d(300px, 700px, 0) scale(1.5);
  -o-transform: translate3d(300px, 700px, 0) scale(1.5);
  transform: translate3d(300px, 700px, 0) scale(1.5);
}
/* line 718, ../scss/nodeppt.scss */
.with-notes.popup slide {
  overflow: visible;
  background: white;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* line 725, ../scss/nodeppt.scss */
.with-notes.popup slide:not(.backdrop) {
  -webkit-transform: scale(0.6) translate3d(0.5em, 0.5em, 0);
  -moz-transform: scale(0.6) translate3d(0.5em, 0.5em, 0);
  -ms-transform: scale(0.6) translate3d(0.5em, 0.5em, 0);
  -o-transform: scale(0.6) translate3d(0.5em, 0.5em, 0);
  transform: scale(0.6) translate3d(0.5em, 0.5em, 0);
  -webkit-box-shadow: 0 0 10px #797979;
  -moz-box-shadow: 0 0 10px #797979;
  box-shadow: 0 0 10px #797979;
}
/* line 730, ../scss/nodeppt.scss */
.with-notes.popup slide.backdrop {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 600, color-stop(0%, #b1dfff), color-stop(100%, #4387fd));
  background-image: -webkit-radial-gradient(50% 50%, #b1dfff 0%, #4387fd 600px);
  background-image: -moz-radial-gradient(50% 50%, #b1dfff 0%, #4387fd 600px);
  background-image: -o-radial-gradient(50% 50%, #b1dfff 0%, #4387fd 600px);
  background-image: radial-gradient(50% 50%, #b1dfff 0%, #4387fd 600px);
}
/* line 736, ../scss/nodeppt.scss */
.with-notes.popup slide.next {
  -webkit-transform: translate3d(570px, 80px, 0) scale(0.35);
  -moz-transform: translate3d(570px, 80px, 0) scale(0.35);
  -ms-transform: translate3d(570px, 80px, 0) scale(0.35);
  -o-transform: translate3d(570px, 80px, 0) scale(0.35);
  transform: translate3d(570px, 80px, 0) scale(0.35);
  opacity: 1 !important;
}
/* line 740, ../scss/nodeppt.scss */
.with-notes.popup slide.next .note {
  display: none !important;
}
/* line 746, ../scss/nodeppt.scss */
.with-notes.popup .note {
  width: 109%;
  height: 210px;
  background: #e6e6e6;
  padding: 0;
  -webkit-box-shadow: 0 0 10px #797979;
  -moz-box-shadow: 0 0 10px #797979;
  box-shadow: 0 0 10px #797979;
  -webkit-transform: translate3d(250px, 700px, 0) scale(1.5);
  -moz-transform: translate3d(250px, 700px, 0) scale(1.5);
  -ms-transform: translate3d(250px, 700px, 0) scale(1.5);
  -o-transform: translate3d(250px, 700px, 0) scale(1.5);
  transform: translate3d(250px, 700px, 0) scale(1.5);
  -webkit-transition: opacity 400ms ease-in-out;
  -moz-transition: opacity 400ms ease-in-out;
  -o-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}
/* line 757, ../scss/nodeppt.scss */
.with-notes.popup .note > section {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow: auto;
  padding: 1em;
}
/* line 770, ../scss/nodeppt.scss */
.with-notes .note {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  pointer-events: auto;
}

/* line 777, ../scss/nodeppt.scss */
.source {
  font-size: 14px;
  color: darkgrey;
  position: absolute;
  line-height: 2em;
  bottom: 70px;
  left: 60px;
}

/* line 786, ../scss/nodeppt.scss */
.centered {
  text-align: center;
}

/* line 790, ../scss/nodeppt.scss */
.reflect {
  -webkit-box-reflect: below 3px -webkit-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  -moz-box-reflect: below 3px -moz-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  -o-box-reflect: below 3px -o-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  -ms-box-reflect: below 3px -ms-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  box-reflect: below 3px linear-gradient(rgba(255, 255, 255, 0) 85%, #ffffff 150%);
}

/* line 798, ../scss/nodeppt.scss */
.flexbox {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-box !important;
  display: -o-box !important;
  display: box !important;
}

/* line 802, ../scss/nodeppt.scss */
.flexbox.vcenter {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
  width: 100%;
}

/* line 808, ../scss/nodeppt.scss */
.flexbox.vleft {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: left;
  -moz-box-align: left;
  -ms-box-align: left;
  box-align: left;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
  width: 100%;
}

/* line 814, ../scss/nodeppt.scss */
.flexbox.vright {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-box-align: end;
  box-align: end;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
  width: 100%;
}

/* line 820, ../scss/nodeppt.scss */
.auto-fadein {
  -webkit-transition: opacity 0.6s ease-in;
  -webkit-transition-delay: 1s;
  -moz-transition: opacity 0.6s ease-in 1s;
  -o-transition: opacity 0.6s ease-in 1s;
  transition: opacity 0.6s ease-in 1s;
  opacity: 0;
}

/* Clickable/tappable areas */
/* line 826, ../scss/nodeppt.scss */
.slide-area {
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 600px;
  left: 50%;
  top: 50%;
  cursor: pointer;
  margin-top: -300px;
}

/* line 843, ../scss/nodeppt.scss */
#prev-slide-area {
  margin-left: -550px;
}

/* line 848, ../scss/nodeppt.scss */
#next-slide-area {
  margin-left: 450px;
}

/* ===== SLIDE CONTENT ===== */
/* line 856, ../scss/nodeppt.scss */
.logoslide img {
  width: 383px;
  height: 92px;
}

/* line 862, ../scss/nodeppt.scss */
.segue {
  padding: 60px 120px;
}
/* line 865, ../scss/nodeppt.scss */
.segue h2 {
  color: #e6e6e6;
  font-size: 60px;
}
/* line 869, ../scss/nodeppt.scss */
.segue h3 {
  color: #e6e6e6;
  line-height: 2.8;
}
/* line 873, ../scss/nodeppt.scss */
.segue hgroup {
  position: absolute;
  bottom: 225px;
}

/* line 879, ../scss/nodeppt.scss */
.thank-you-slide {
  background: #4387fd !important;
  color: white;
}
/* line 883, ../scss/nodeppt.scss */
.thank-you-slide h2 {
  font-size: 60px;
  color: inherit;
}
/* line 887, ../scss/nodeppt.scss */
.thank-you-slide h3 {
  font-size: 52px;
  color: inherit;
  text-align: right;
}
/* line 893, ../scss/nodeppt.scss */
.thank-you-slide article > p {
  margin-top: 2em;
  font-size: 20pt;
}
/* line 898, ../scss/nodeppt.scss */
.thank-you-slide > p {
  position: absolute;
  bottom: 80px;
  font-size: 24pt;
  line-height: 1.3;
}

/* line 906, ../scss/nodeppt.scss */
aside.gdbar {
  height: 97px;
  width: 215px;
  position: absolute;
  left: -1px;
  top: 125px;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e6e6e6), color-stop(100%, #e6e6e6)) no-repeat;
  background: -webkit-linear-gradient(left, #e6e6e6, #e6e6e6) no-repeat;
  background: -moz-linear-gradient(left, #e6e6e6, #e6e6e6) no-repeat;
  background: -o-linear-gradient(left, #e6e6e6, #e6e6e6) no-repeat;
  background: linear-gradient(left, #e6e6e6, #e6e6e6) no-repeat;
  -webkit-background-size: 0% 100%;
  -moz-background-size: 0% 100%;
  -o-background-size: 0% 100%;
  background-size: 0% 100%;
  -webkit-transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.5s;
  -moz-transition: all 0.5s ease-out 0.5s;
  -o-transition: all 0.5s ease-out 0.5s;
  transition: all 0.5s ease-out 0.5s;
  /* Better to transition only on background-size, but not sure how to do that with the mixin. */
}
/* line 917, ../scss/nodeppt.scss */
aside.gdbar.right {
  right: 0;
  left: -moz-initial;
  left: initial;
  top: 204px;
  /* 96 is height of gray icon bar */
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
/* line 924, ../scss/nodeppt.scss */
aside.gdbar.right img {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
/* line 929, ../scss/nodeppt.scss */
aside.gdbar.bottom {
  top: -moz-initial;
  top: initial;
  bottom: 60px;
}
/* line 935, ../scss/nodeppt.scss */
aside.gdbar img {
  width: 85px;
  height: 85px;
  position: absolute;
  right: 0;
  margin: 8px 15px;
}

/* line 946, ../scss/nodeppt.scss */
.title-slide hgroup {
  bottom: 100px;
}
/* line 949, ../scss/nodeppt.scss */
.title-slide hgroup h1 {
  font-size: 65px;
  line-height: 1.4;
  letter-spacing: -3px;
  color: #515151;
}
/* line 956, ../scss/nodeppt.scss */
.title-slide hgroup h2 {
  font-size: 34px;
  color: darkgrey;
  font-weight: inherit;
}
/* line 962, ../scss/nodeppt.scss */
.title-slide hgroup p {
  font-size: 20px;
  color: #797979;
  line-height: 1.3;
  margin-top: 2em;
}

/* line 971, ../scss/nodeppt.scss */
.quote {
  color: #e6e6e6;
}
/* line 974, ../scss/nodeppt.scss */
.quote .author {
  font-size: 24px;
  position: absolute;
  bottom: 80px;
  line-height: 1.4;
}

/* line 983, ../scss/nodeppt.scss */
[data-config-contact] a {
  color: white;
  border-bottom: none;
}
/* line 987, ../scss/nodeppt.scss */
[data-config-contact] span {
  width: 115px;
  display: inline-block;
}

/* line 996, ../scss/nodeppt.scss */
.overview.popup .note {
  display: none !important;
}
/* line 1002, ../scss/nodeppt.scss */
.overview slides slide {
  display: block;
  cursor: pointer;
  opacity: 0.5;
  pointer-events: auto !important;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(85%, #ffffff), color-stop(100%, #e6e6e6));
  background: -webkit-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: -moz-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: -o-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background-color: white;
}
/* line 1003, ../scss/nodeppt.scss */
.overview slides slide.backdrop {
  display: none !important;
}
/* line 1018, ../scss/nodeppt.scss */
.overview slides slide.far-past, .overview slides slide.past, .overview slides slide.next, .overview slides slide.far-next, .overview slides slide.far-past {
  opacity: 0.5;
  display: block;
}
/* line 1023, ../scss/nodeppt.scss */
.overview slides slide.current {
  opacity: 1;
}
/* line 1029, ../scss/nodeppt.scss */
.overview .slide-area {
  display: none;
}

@media print {
  /* line 1036, ../scss/nodeppt.scss */
  slides slide {
    display: block !important;
    position: relative;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(85%, #ffffff), color-stop(100%, #e6e6e6));
    background: -webkit-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
    background: -moz-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
    background: -o-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
    background: linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
    background-color: white;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
    width: 100%;
    height: 100%;
    page-break-after: always;
    top: auto !important;
    left: auto !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    opacity: 1 !important;
    color: #555;
  }
  /* line 1056, ../scss/nodeppt.scss */
  slides slide.far-past, slides slide.past, slides slide.next, slides slide.far-next, slides slide.far-past, slides slide.current {
    opacity: 1 !important;
    display: block !important;
  }
  /* line 1062, ../scss/nodeppt.scss */
  slides slide .build > * {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  /* line 1067, ../scss/nodeppt.scss */
  slides slide .build .to-build,
  slides slide .build .build-fade {
    opacity: 1;
  }
  /* line 1072, ../scss/nodeppt.scss */
  slides slide .auto-fadein {
    opacity: 1 !important;
  }
  /* line 1076, ../scss/nodeppt.scss */
  slides slide.backdrop {
    display: none !important;
  }
  /* line 1080, ../scss/nodeppt.scss */
  slides slide table.rows {
    border-right: 0;
  }
  /* line 1085, ../scss/nodeppt.scss */
  slides slide[hidden] {
    display: none !important;
  }

  /* line 1090, ../scss/nodeppt.scss */
  .slide-area {
    display: none;
  }

  /* line 1094, ../scss/nodeppt.scss */
  .reflect {
    -webkit-box-reflect: none;
    -moz-box-reflect: none;
    -o-box-reflect: none;
    -ms-box-reflect: none;
    box-reflect: none;
  }

  /* line 1102, ../scss/nodeppt.scss */
  pre, code {
    font-family: monospace !important;
  }
}
/**翻页效果**/
/* line 1110, ../scss/nodeppt.scss */
slide[data-transition="horizontal3d"] {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/**zoomout***/
/* line 1115, ../scss/nodeppt.scss */
slide[data-transition="zoomout"].past,
slide[data-transition="zoomin"].next {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 1119, ../scss/nodeppt.scss */
slide[data-transition="zoomin"].past,
slide[data-transition="zoomout"].next {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/**horizontal*/
/* line 1124, ../scss/nodeppt.scss */
slide[data-transition="horizontal"].current {
  -webkit-transform-origin: 20% 80% 50%;
  -moz-transform-origin: 20% 80% 50%;
  -ms-transform-origin: 20% 80% 50%;
  -o-transform-origin: 20% 80% 50%;
  transform-origin: 20% 80% 50%;
}

/* line 1128, ../scss/nodeppt.scss */
slide[data-transition="horizontal"].next,
slide[data-transition="horizontal"].past {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

/* line 1131, ../scss/nodeppt.scss */
slide[data-transition="horizontal"].next {
  left: 450px;
}

/* line 1134, ../scss/nodeppt.scss */
slide[data-transition="horizontal"].past {
  left: -450px;
}

/* line 1138, ../scss/nodeppt.scss */
slides.layout-widescreen > slide[data-transition="horizontal"].next {
  left: 550px;
}
/* line 1141, ../scss/nodeppt.scss */
slides.layout-widescreen > slide[data-transition="horizontal"].past {
  left: -550px;
}

/**vertical 3D*/
/* line 1147, ../scss/nodeppt.scss */
slide[data-transition="horizontal3d"].next {
  -webkit-transform: translate3d(75%, 0, 0) rotateY(60deg) translate3d(75%, 0, 0);
  -moz-transform: translate3d(75%, 0, 0) rotateY(60deg) translate3d(75%, 0, 0);
  -ms-transform: translate3d(75%, 0, 0) rotateY(60deg) translate3d(75%, 0, 0);
  -o-transform: translate3d(75%, 0, 0) rotateY(60deg) translate3d(75%, 0, 0);
  transform: translate3d(75%, 0, 0) rotateY(60deg) translate3d(75%, 0, 0);
}

/* line 1150, ../scss/nodeppt.scss */
slide[data-transition="horizontal3d"].past {
  -webkit-transform: translate3d(-75%, 0, 0) rotateY(-60deg) translate3d(-75%, 0, 0);
  -moz-transform: translate3d(-75%, 0, 0) rotateY(-60deg) translate3d(-75%, 0, 0);
  -ms-transform: translate3d(-75%, 0, 0) rotateY(-60deg) translate3d(-75%, 0, 0);
  -o-transform: translate3d(-75%, 0, 0) rotateY(-60deg) translate3d(-75%, 0, 0);
  transform: translate3d(-75%, 0, 0) rotateY(-60deg) translate3d(-75%, 0, 0);
}

/* line 1154, ../scss/nodeppt.scss */
slide[data-transition="vertical3d"].next {
  top: 300px;
  -webkit-transform: translate3d(0, 75%, 0) rotateX(60deg) translate3d(0, 75%, 0);
  -moz-transform: translate3d(0, 75%, 0) rotateX(60deg) translate3d(0, 75%, 0);
  -ms-transform: translate3d(0, 75%, 0) rotateX(60deg) translate3d(0, 75%, 0);
  -o-transform: translate3d(0, 75%, 0) rotateX(60deg) translate3d(0, 75%, 0);
  transform: translate3d(0, 75%, 0) rotateX(60deg) translate3d(0, 75%, 0);
}

/* line 1158, ../scss/nodeppt.scss */
slide[data-transition="vertical3d"].past {
  -webkit-transform: translate3d(0, -75%, 0) rotateX(-60deg) translate3d(0, -75%, 0);
  -moz-transform: translate3d(0, -75%, 0) rotateX(-60deg) translate3d(0, -75%, 0);
  -ms-transform: translate3d(0, -75%, 0) rotateX(-60deg) translate3d(0, -75%, 0);
  -o-transform: translate3d(0, -75%, 0) rotateX(-60deg) translate3d(0, -75%, 0);
  transform: translate3d(0, -75%, 0) rotateX(-60deg) translate3d(0, -75%, 0);
  top: -300px;
}

/* line 1165, ../scss/nodeppt.scss */
.qrcode {
  display: none;
  position: fixed;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 20%;
  margin-left: -170px;
  background: white;
  padding: 20px;
}
/* line 1175, ../scss/nodeppt.scss */
.qrcode #qrcode {
  width: 256px;
  height: 256px;
  vertical-align: middle;
  margin: 0 auto;
}
/* line 1181, ../scss/nodeppt.scss */
.qrcode p {
  text-align: center;
}
