$slide-height: 600px;
.with-note {
    .slide.current,
    .slide {
        width: 98vw !important;
        overflow: visible;
        transition: none !important;
        transform-origin: 0 0 !important;
        transform: scale(0.6) translate3d(0.5em, 0.5em, 0);
        .note {
            width: 100%;
            height: $slide-height / 2 - 90;
            padding: 0;
            transform: translate3d(350px, $slide-height + 250, 0) scale(1.5);
            transition: opacity 400ms ease-in-out;
        }
    }
    .slide.current+.slide {
        transform: translate3d(64vw, -75vw, 0) scale(0.35);
        opacity: 1 !important;
        display: flex !important;
        .note {
            display: none !important;
        }
    }
}
